.dialog__input {
  display: block;
  width: 358px;
  box-sizing: border-box;
  border: none;
  padding: 0 0 13px 0;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  margin: 0 auto 5px auto;
}

@media (max-width: 700px) {
  .dialog__input {
    width: 200px;
    padding: 0 0 12px 0;
  }
}
