.gallery__item {
  align-self: center;
  position: relative;
}

@media (max-width: 882px) {
  .gallery__item {
    margin: 0 auto;
  }
}

@media (max-width: 660px) {
  .gallery__item {
    margin: 0 auto;
  }
}
