.dialog__close-button {
  position: absolute;
  top: 1%;
  right: 2%;
  width: 40px;
  height: 40px;
  border: none;
  background: url(../../../images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.dialog__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 700px) {
  .dialog__close-button {
    right: 5%;
    top: 7%;
    width: 26px;
    height: 26px;
  }
}
