.logo {
  margin: 45px auto 41px;
  fill: white;
}

@media (max-width: 882px) {
  .logo {
    margin-left: 15px;
  }
}

@media (max-width: 660px) {
  .logo {
    margin: 28px 0 31px 27px;
    width: 104px;
    height: 24px;
  }
}
