.dialog__content-card {
  margin: 20px auto 0px;
  box-sizing: content-box;
  position: relative;
  padding: 50px 50px 0 50px;
}

@media (max-width: 660px) {
  .dialog__content-card {
    margin: 20px auto 0px;
    padding: 30px 40px 0px 40px;
  }
}
